.bot-main {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    .box {
        header {
            background-color: #0f1035;
            border-radius: 10px 10px 0 0;
        }
        .body {
            min-height: 200px;
            max-height: 400px;
            background-color: #365486;
            padding: 0.85em 0.5em;
            width: 100%;
            max-width: 350px;
            justify-content: flex-end;
            overflow-y: auto;

            .user {
                background-color: #7fc7d9;
                color: #000000;
                padding: 2px 8px;
                width: fit-content;
                border-radius: 0 8px 8px 8px;
                align-self: flex-end;
            }
            .bot {
                background-color: #dcf2f1;
                color: #000000;
                padding: 2px 8px;
                width: fit-content;
                border-radius: 8px 0 8px 8px;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    input {
        background-color: #fbf9f1;
        color: #0f1035;
        outline: none;
        border: none;
        padding: 5px;
        border-radius: 5px 0 0 5px;
        width: 100%;
    }
    .bot-btn {
        background-color: #eee;
        color: #0f1035;
    }
    @media screen and (max-width: 500px) {
        bottom: 5rem;
    }
}
